/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
     display: block;
   }
   body {
     line-height: 1;
   }
   ol, ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }

   html,
   body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
  }

  .wrapper {
    margin: 0 auto;
    /*width: 75%;*/
    max-width: 1024px;
    position: relative;
  }

  .wrap > .container {
    padding: 70px 15px 20px;
  }

  .footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }


  a.asc:after {
    content: /*"\e113"*/ "\e151";
  }

  a.desc:after {
    content: /*"\e114"*/ "\e152";
  }

  .sort-numerical a.asc:after {
    content: "\e153";
  }

  .sort-numerical a.desc:after {
    content: "\e154";
  }

  .sort-ordinal a.asc:after {
    content: "\e155";
  }

  .sort-ordinal a.desc:after {
    content: "\e156";
  }

  .grid-view th {
    white-space: nowrap;
  }

  .hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
  }

  .error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
  }
  /* ************************** */
  .top {
    background-color: #123d72;
    position: relative;
  }
  .logo {
    display: block;
    position: relative;
  }
  .logo>img{display: block; position: relative;}

  a.navbar-brand:before{
    display: block;
    position: absolute;
    top: 0;
    content: "";
    left: -170px;
    background: url('/web/images/bg_header.jpg') no-repeat;
    width: 298px;
    height: 108px;
  }


  .navbar {
    border: none;
    background-color: white;
  }
  .navbar-brand {
    padding: 20px;
  }
  .phone_top:before {
    content: "";
    height: 30px;
    width: 30px;
    background: url('/web/images/phone.png') no-repeat;
    border-radius: 100%;
    background-color: #0c5596;
    position: absolute;
    top: -2px;
    left: -45px;
    background-position: center;
  }
  .phone_top:after {
  }

  .opened {
    display: block;
    text-align: right;
    font-size: 9px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .phone_top {
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    position: relative;
  }

  #topmenu .nav > li > a {
    padding: 30px 25px;
  }

  #nav > li > a, 
  #nav-min > li > a,
  #nav-test > li > a {
    padding: 10px 15px;
    color: #113d73;
  }
  #nav > li:hover > a,
  #nav-min > li:hover > a,
  #nav-test > li:hover > a {
    color: #008ee6;
  }

  #nav  .active > a, 
  #nav-min  .active > a,
  #nav-test .active > a {
    background: white;
  }
  #nav  li ,
  #nav-min  li,
  #nav-test li {
    border-bottom: 2px solid white;
  }
  #nav  li.active ,
  #nav-min  li.active,
  #nav-test li.active {
    transition-property: border-bottom-color, color;
    transition-duration: 2.5s;
    transition-delay: 0.2s, 0.3s;
    transition-timing-function: cubic-bezier(0.1, 0.8, 0.5, 2), ease-in;
    border-bottom: 2px solid #113d73;
  }

  #nav-min{
    float: none;
    margin:0 auto;
    display: table;
  }

  .nav {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    /*background: white;*/
  }

  .navbar-form .btn, .navbar-form  .form-control {
   border-radius: 34px;   
 }

 .top_menu{
  box-sizing: border-box;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.content_beg{
  padding-top: 220px;
  position: relative;
  
}

.content_part1{   
  width:100%;
  background: #f7f7f7;
  background:url('/web/images/banner.jpg') 45% 0 rgba(0, 0, 0, 0);
  background-size: cover;
  /*padding:2.857em 0;*/
}

.content_part1_center {
  max-width:1024px;
  width:50%;
  margin:0 auto;
}

@media screen and  (min-width: 10px){

  .content_beg{
    padding-top: 153px;
  }

}

.site-contact>.row>.contacForm{
  float: none;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.EmailForm{
  margin: 0 auto;
  padding: 0 15px;
}

.buttonElemSubmit{
  display: block;
  margin: 0 auto;
  min-width: 250px;
  min-height: 55px;
  background: #008ee6;
  color: white;
  font-size: 16px ;
  line-height: 38px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  border:none;
  border-bottom: 4px solid #007ecc;
}

.form-group {
  margin-bottom: 25px;
}

.textCenterSucc{
  text-align: center;
}

.anchor{
 /*margin-top: -240px; */
 position: absolute;
 visibility: hidden;
}
#simple{
  margin-top: 65px;
}

#privat,
#family{
  margin-top: -85px;
}
#other{
  margin-top: -240px;
}
.footerImg:before{
  display: block;
  position: absolute;
  margin-top: -40px;
  content: "";
  left: -170px;
  background: url('/web/images/bg_footer.jpg') no-repeat;
  width: 450px;
  height: 204px; 
}

#logoTxt{
  /*color: white;*/
  position: relative;
  line-height: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #698db2;
  padding-left: 7px;
  letter-spacing: -0.02em;
  /*z-index: 999;*/
}
.footerEmail{
  position: relative;
  line-height: 25px;
  font-size: 17px;
  font-weight: 600;
  color:rgba(129,152,181,0.6);
  padding-left: 60px;
  margin-top: 10px;
  letter-spacing: -0.05em;
}

.imgPart,.footerEmail{
  float: left;
}
.socLink{
  float: right !important;
  margin: 15px auto;
  /*clear: left;*/
}
.sublink{
  float: right;
  /*clear: left;*/
}
.SocialImg{
  margin-top: 10px;
  margin-right: 8px;
  display: block !important;
  background: #0c5596;
  border-radius: 100%;
  position: relative;
  height: 30px;
  width: 30px;
  float: left;
  padding-top: 4px;
  transition: 1s linear;
}

.SocialImg:hover{
 transform: scale(1.2);
}

.imageIn{
  display: block;
  position: relative;
  margin: 0 auto;
  height: 22px;
  width: 22px;
}
.sublink{
  margin-top: 37px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.sublink>ul{
  padding: 0;
  margin-left: 15px;
}
.sublink>ul>li{
  list-style: disc;
  color: #0c5596;
}
.sublink>ul>li:first-child{
  list-style: none;
}
.footerLink li{
  float: left;
  margin-left: 30px;
}
.footerLink li>a{
  color: white;
}

.footerLink li>a:hover,
.footerLink li>a:focus{
  font-weight: 600;
  color: #698db2;
  text-decoration: none;
}

.mainmenu{
  background: white;
}

#sm_button{
  display: block;
  width: 75%;
  margin:0 auto;
  margin-top: 25px;
}

.button_up:hover{
  background: #4db0ee !important; 
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 35px;
  height: 35px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

.langSelect{
  margin-top: 10px;
}
.langSelect>a{
  float: left ;
  vertical-align: middle;
  padding-left:0px !important;
  padding-right:3px !important;

}

.langSelect>a:first-child{
  display: none ;
}
.langSelect>a>span.active{
  background: #4db0ee!important ;
  color: white;
}

.langSelect>a>span{
 background: #f7f7f7!important ;
 color: #113d73;
 border-radius: 4px;
 padding:10px;
}